<div class="navbar-wrapper">
  <h1>Food Entries</h1>

  <% @entries.each do |fe| %>
    <div class="card">
      <div class="card-body">
        <div class="card-title"><%= link_to fe.entry_date, entry_path(fe) %></div>
          <% fe.foods.each do |food| %>
            <% if policy(food).edit? %>
              <p><%= food.name %> <small><%= food.user.email %></small></p>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>