<div class="navbar-wrapper">
  <div class="container">
    <%= simple_form_for @entry do |f| %>
      <%= f.input :entry_date %>
      <%= f.input :foods, collection: Food.where(user: current_user), include_blank: false %>
      <div id="errorMessage"></div>
      <%= f.button :submit, onclick: 'verifyEntry()' %>
    <% end %>
  </div>
</div>


<script>
const verifyEntry = () => {
  const food = document.forms['entryForm']['entry[foods]'].value;
  if (food === '') {
    const error = document.getElementById('errorMessage');
    error.innerHTML = "* Please select a food";
    if (!error.classList.contains('excess')) {
      error.classList += "excess";
    }
    return false;
  }
  return true;
}
</script>