<footer class="footer-container">
  <ul class="list-inline">
    <li class="list-inline-item"><%= link_to "Home", root_path %></li>
    <li class="list-inline-item"><%= link_to "About Us", about_path %></li>
    <li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
  </ul>
</footer>