<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path "background-notebook-pencil-544115.jpg" %>');">
  <div class="container">
    <h1>Lose weight the old-fashioned way, by counting calories!</h1>
  </div>
</div>

<div class="container my-2">
  <h2 class="text-center">How it Works</h2>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src='<%= asset_path "accounting-balance-banking-159804.jpg"%>' alt="calculator with pen and paper in background" class="card-img-top card-image">
          <div class="card-body">
            <h4 class="card-title border-bottom">Calculate</h4>
            <div class="card-text">
              Enter daily caloric goal provided by a health care professional or use built-in calorie calculator to get an estimate.
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="<%= asset_path 'ballpen-blur-close-up-1925536.jpg' %>" alt="ballpoint pen writing on graph paper" class="card-img-top card-image">
          <div class="card-body">
            <h4 class="card-title border-bottom">Count</h4>
            <div class="card-text">
              Record the calories from your meals in your personal journal to watch your daily intake.
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="<%= asset_path 'action-active-activity-2091651.jpg' %>" alt="active woman posing with arm up and smiling" class="card-img-top card-image">
          <div class="card-body">
            <h4 class="card-title border-bottom">Lose Weight</h4>
            <div class="card-text">
              Maintain a healthy caloric deficit and over time you will lose weight while eating what you want!
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
