<h1>Food Entries</h1>

<% @food_entries.each do |fe| %>
  <div class="card">
    <div class="card-body">
      <div class="card-title"><%= fe.entry_date %></div>
      <div class="card-content"><%= fe.food.name %></div>
    </div>
  </div>
<% end %>